body{
    background: linear-gradient(180deg, #0096f2 0%, #0096f2 50%, #ffffff 90%);
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}

h1{
    font-size: 10vw;
    margin: auto;
    width: fit-content;
    opacity: 0.75;
    background-color: #137929;
    padding: 5px 10px;
    border-radius: 15px;
    text-wrap: wrap;
    text-align: center;
}
h2{
    font-size: 5vw;
    width: fit-content;
    opacity: 0.75;
    background-color: #da2e2e;
    padding: 5px 10px;
    border-radius: 15px;
    text-wrap: wrap;
}

h3{
    width: fit-content;
    opacity: 0.75;
    background-color: #de6101;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 150%;
}

p{
    text-align: justify;
    border: 5px solid burlywood;
    padding: 6px 6px;
    border-radius: 10px;
    font-size: 120%;
}
a:link, a:visited{
    color: black;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
}
a:active{
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-decoration-color: #8f3e00;
    color: #8f3e00;
}

hr{
    border: 5px solid burlywood;
    border-radius: 20px;
}
nav{
    margin-bottom: 75px;
}
nav > ul{
    margin-left: -30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
nav a:link, a:visited{
    color: black;
    text-decoration: none;
}
nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    list-style: none;
    border: 2px solid black;
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    transition: 200ms ease-in-out all;
    background-color: blanchedalmond;
    display: inline-block;
}
nav li:hover{
    scale: 120%;
    transition: 200ms ease-in-out all;
}
nav li:nth-child(2):hover{
    background: linear-gradient(45deg, #e838ff, #5656cb);
    transition: 200ms ease-in-out all;
}
nav li:nth-child(3):hover{
    background: linear-gradient(45deg, rgb(255, 230, 149), rgb(204, 156, 0));
    transition: 200ms ease-in-out all;
}
nav li:nth-child(4){
    padding-left: 50px;
    padding-right: 50px;
}
nav li:nth-child(4):hover{
    background: linear-gradient(45deg, rgb(149, 255, 200), rgb(0, 204, 48));
    transition: 200ms ease-in-out all;
}
header{
    text-wrap: nowrap;
}
#clouds{
	width: 100%;
    display: flex;
}
img.cloud{
    margin-left: 1%;
    margin-right: 1%;
    width: 5%;
    float: center;
    flex: auto;
}
#GetButton
{
    display: block;
    background-color: #de6101;
    border-radius: 10px;
    width: fit-content;
    padding: 2% 20%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 150%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 200ms ease-in-out all;
}
#GetButton:hover{
    translate: 0 -10px;
    transition: 200ms ease-in-out all;
}
#boxes
{
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    display: flex;
}
.descbox{
    min-width: 150px;
    max-width: 400px;
    padding: 0 6px;
    margin-right: 30px;
    float: left;
    transition: 200ms ease-in-out all;
}
.descbox:hover{
    translate: 0 -5px;
}
.descbox p{
    min-height: 300px;
}
#aboutUsText{
    padding: 30px;
}