body{
    background-color: antiquewhite;
}
h1{
    font-family: 'Franklin Gothic Medium';
    opacity: 0.75;
    background-color: brown;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    transition: 200ms ease-in-out all;
    
}

h1:hover{
    translate: 0 5px;
    transition: 200ms ease-in-out all;
}
hr{
    border: 5px solid burlywood;
    border-radius: 20px;
}

nav a:link, a:visited{
    color: black;
    text-decoration: none;
}
nav li{
    list-style: none;
    border: 2px solid black;
    width: 200px;
    padding: 4px;
    margin: 2px;
    border-radius: 10px;
    transition: 200ms ease-in-out all;
    background-color: blanchedalmond;
}
nav li:hover{
    padding: 8px;
    transition: 200ms ease-in-out all;
}
nav li:nth-child(2):hover{
    background: linear-gradient(45deg, #e838ff, #5656cb);
    transition: 200ms ease-in-out all;
}
nav li:nth-child(3):hover{
    background: linear-gradient(45deg, rgb(196, 234, 255), #00c3ff);
    transition: 200ms ease-in-out all;
}
img{
    width: 200px;
    height: 200px;
    /* transform: scale(50%, 50%); */
    transition: 200ms ease-in-out all;
}
/* img:hover{
    transform: scale(100%, 100%);
    transition: 200ms ease-in all;
} */
img:active{
    translate: 0 -1000%;
    transition: translate 1s ease-in;
}